extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 #{projects[index-1].project_name}

        
        p.lead.text-light
          | #{projects[index-1].discription}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        
        ul
          each tech in projects[index-1].technologies
            li= tech
          

        
        a.button.expanded(href='https://allenliu7.github.io/TD-Project-' + index + '/') Live Demo
        a.button.expanded(href='https://github.com/AllenLiu7/TD-Project-' + index + '.git') GitHub Repo
    
     
    img.image(src='https://allenliuportfolio.herokuapp.com/static/images/project' + index + '_1.jpg')
    img.image(src='https://allenliuportfolio.herokuapp.com/static/images/project' + index + '_2.jpg')
    img.image(src='https://allenliuportfolio.herokuapp.com/static/images/project' + index + '_3.jpg')